[Desktop Entry]
Encoding=UTF-8
Name=chain2
Comment=chain2 cryptocurrency
Comment[fr]=chain2, monnaie virtuelle cryptographique pair à pair
Comment[tr]=chain2, eşten eşe kriptografik sanal para birimi
Exec=bitcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/chain2;
Categories=Office;Finance;
